
/* RGB(132, 94, 247) for background opacity*/


.titre
{
    text-align: center;
    color: white;
    line-height: 2em;
}
.img_h100
{
    height: 100%;
}


.container
{
    width: 100%;
}
h1,h2,h3
{
    text-align:center;
    line-height: 3em;
}
.h2
{
    font-size: 18px;
    font-weight: bold;
}
.head_box
{
    width: 100%;
    height: 80px;
    background-color:#3bc9db;
    color: white;
    line-height: 3.5em;
}
.labhead{margin-left: 5%;}
.box
{
    width: 94%; 
    margin-left: 3%;
    background-color: #f8f9fa;
}

.div_input
{
    width: 90%;
    margin-left: 5%;
    margin-top: 25px;
    height: 45px;
}

.iptxt
{
    width: 100%;
    height: 35px;
    border-radius: 0%;
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: right;
    padding-left: 10px;
    background-color: #eceff4;
    
}
.iplogin
{
    background-image: url("../icones/ic-login.png");

}
.ippwd
{
    background-image: url("../icones/ic-password.png");

}
/* .ipbtn
{
    width: 100px;
    height: 40px;
    border: none;
    color:white;
    border-radius: 5px;
    background-color:#3bc9db;
} */
a
{
    color: gray;
    text-decoration: none;
}
a:hover
{
    opacity: 0.5;
}
.float_r
{
    float: right;
}

.box_menu_1
{  margin-top: 25px;
  margin-left: 3%;
  border-radius: 7px;
  float: left;
  width: 35%;
  height:340px;
  background-color: white; 
  box-shadow: 1px 1px 3px 3px lightgrey; 
}
.body_box
{
    background-color: #f8f9fa;
    width: 100%;
    height:500px;
}
.li
{
    padding-left: 20px;
    list-style-type: none;
    height: 40px;
    margin-top: 10px;
    line-height: 2.5em;
    width: calc(100% -40px);
}
 .active
{
   background-color: RGB(229, 233, 240,0.4);
    border-left: 3px solid green;
}

.div_avatar_1
{
    width:100%;
    border-radius: 7px;
    background-color: #51bfd0;
    background-image: linear-gradient(to top, #51bfd0, white)
    ;height: 130px;

}
.img_avatar_1
{
    width: 100px;
    float: left;
    border-radius: 50%;
    height: 100px;
    margin-left: 5%;
    margin-top: 15px;
    border:1px solid gray;
}

.w_70_h_70
{
    width: 84%;
    height: 84%;
    margin-top: 8%;
    margin-left: 8%;
    border-radius: 50%;
}

.w100
{
width: 100%;
}

.mg_top_20
{
    margin-top: 20px;
}

/* sous menu id */
#sm_1, #sm_2, #sm_3, #sm_4
{
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 97%;
}
#sm_1
{
    background-image: url("../icones/ic-liste.png");
}
#sm_1.active,#sm_3.active
{
    background-image: url("../icones/ic-liste-active.png");
}
#sm_2
{
    background-image: url("../icones/ic-ajout.png");
}
#sm_2.active , #sm_4.active
{
    background-image: url("../icones/ic-ajout-active.png");
}
#sm_3
{
    background-image: url("../icones/ic-liste.png");
}
#sm_4
{
    background-image: url("../icones/ic-ajout.png");
}


.rotate_page
{
    width:55%;
    float: right;
    height:500px;
    border-radius: 5px;
    margin-right: 5%;
}
th
{
    text-align: left;
}

.contain_pl
{
    width:90%;
    position: relative;
    background-color: white; 
    border-radius:5px;
    box-shadow: 1px 1px 3px 3px lightgrey; 
    
}
.contain_pl.w100
{
width: 100%;
}
.contain_sub
{
    border:2px solid #3bc9db;
    border-radius:10px;
    width:90%;
    margin-left:5%;
    height:300px;
}

.div_nav
{
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
    margin-bottom: 10px;
    height:50px;
}



.div_head span
{
    position: absolute;
    top:10px;
    right: 0px;
}
.div_head span input[type="number"]
{
    width: 50px;
    height: 30px;
    border: 1px solid gray;
    -moz-appearance: textfield;
    border-radius: 0px;
}


.div_head span input[type="submit"]
{
    border: 1px solid gray;
    height: 30px; 
    background-color: rgba(32, 32, 219, 0.836);
    color: white;
}

.inline
{
    display: inline;
}









/* -----------------------------------------------  X */
        /* STYLE CHECKEDBOX */
/* -----------------------------------------------  X */


/* The container */
.c_rep {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .c_rep input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border: 2px solid #3bc9db;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .c_rep:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .c_rep input:checked ~ .checkmark {
    background-color: white;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .c_rep input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .c_rep .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #3bc9db;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* The container */
  .c_rep {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .c_rep input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .check {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border: 2px solid #3bc9db;
  }
  /* On mouse-over, add a grey background color */
  .c_rep:hover input ~ .check {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .c_rep input:checked ~ .check {
    background-color: white;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .check:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .c_rep input:checked ~ .check:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .c_rep .check:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #3bc9db;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

/* dans la page admin*/
.admin .c_rep .check:after {
    left: 2px;
    top: 2px;
    width: 2px;
    height: 2px;
  }


.check, .checkmark {
    width: 10px;
    height: 10px;
  }

  
  .c_rep .checkmark:after {
    top: 2.5px;
   left: 2.5px;
   width: 5px;
   height: 5px;
}

.sm_font
{
    font-size: 10px;
}

.sm_font13
{
    font-size: 13px;
    color:gray;
}

.ol
{
    overflow: scroll;
    height: 100%;
}

.mg_2,ul,.c_rep
{
    margin:0px;
}

.w80
{
    width: 60%;
    margin-left: 20%;
    height: 15px;
    clear: both;
}
hr
{
    width: 100%;
    visibility: hidden;
}